.forgotPassword {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #ff99ff 3%, #0000ff);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

.forgotPasswordForm {
  background-color: white;
  width: 30%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPasswordInputs {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 20px;
  font: normal 1.2rem var(--defaultFont);
}


#tokenBtn {
  background-color: blueviolet;
  color: white;
}

#tokenBtn:hover {
  background-color: blueviolet;
  color: white;
}

@media screen and (max-width: 600px) {
  .forgotPasswordForm {
    width: 100%;
  }

  .forgotPasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: normal 1.2rem var(--defaultFont);
    margin: 4vw;
  }
}