.login {
    background-image: linear-gradient(135deg, #ff99ff 3%, #0000ff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;

}

.loginForm {
    background-color: white;
    width: 40%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loginForm>input {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    margin: 1vmax 1vmax;
    border-radius: 40px;
    border: 1px solid #ccc;
    font: normal 1.2rem var(--defaultFont);
    outline: none;
}

.loginForm>a {
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
    margin: 2vmax;
}

#loginBtn {
    color: white;
    background-color: blueviolet;
}

#loginBtn:hover {
    color: white;
    background-color: blueviolet;
}

@media screen and (max-width: 600px) {
    .login {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
    }

    .loginForm {
        width: 100%;
        border: 1px solid cyan;
    }

    .loginForm>input {
        padding: 4vw 8vw;
        font: normal 1.2rem var(--defaultFont);
        margin: 2vmax;
    }

    .loginForm>a {
        align-self: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.342);
    }
}