.login {
    background-image: linear-gradient(135deg, #ff99ff 3%, #0000ff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}

h3 {
    font: 600 1.6rem var(--defaultFont);
}

.loginForm {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.loginForm>input {
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    font: normal 1.2rem var(--defaultFont);
}

.loginForm>a {
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#loginBtn {
    color: white;
    background-color: blueviolet;
}

#loginBtn:hover {
    color: white;
    background-color: blueviolet;
}

@media screen and (max-width: 600px) {
    .login {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
    }

    .loginForm {
        width: 100%;
        border: 1px solid cyan;
    }

    .loginForm>input {
        padding: 4vw 8vw;
        font: normal 1.2rem var(--defaultFont);
        margin: 2vmax;
    }

    .loginForm>a {
        align-self: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.342);
    }
}