.register {
  background-image: linear-gradient(135deg, #ff99ff 3%, #0000ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.registerForm {
  background-color: white;
  width: 25%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm>span {
  font: normal 1.1rem var(--defaultFont);
  margin-top: 10px;
}

.registerInputs {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px;
  font: normal 1rem var(--defaultFont);
}

.registerForm>input[type="file"] {
  border-radius: 10px;
  margin: 10px;
}

#regBtn {
  color: white;
  background-color: blueviolet;
}

#regBtn:hover {
  color: white;
  background-color: blueviolet;
}

.registerForm>input[type="file"]::-webkit-file-upload-button {
  background-color: gainsboro;
  background-color: #0000ff;
  color: white;
  margin-top: 10px;
  width: 60%;
  height: 25px;
  border-radius: 3px;
  border: none;
  font: normal 1rem var(--defaultFont);
  cursor: pointer;
}

.registerForm>a {
  align-self: flex-end;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.342);
  margin: 2vmax;
}

@media screen and (max-width: 600px) {
  .registerForm {
    width: 100%;
  }

  .registerForm>input {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: normal 1.2rem var(--defaultFont);
    margin: 4vw;
  }

  .registerForm>input[type="file"] {
    width: 100%;
  }

  .registerForm>input[type="file"]::-webkit-file-upload-button {
    width: 70%;
  }

  .registerForm>a {
    align-self: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
  }
}